/* http://meyerweb.com/eric/tools/css/reset/
    v2.0-modified | 20110126
    License: none (public domain)
*/

* {box-sizing: border-box; margin: 0 0 0 0; padding: 0 0 0 0; line-height: 1.4; word-break: keep-all; letter-spacing: -0.02em; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: "Montserrat", "Noto Sans KR", sans-serif;
	vertical-align: baseline;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;}

:focus {outline: unset;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

ol, ul {
	list-style: none;}

blockquote, q {
	quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none; -moz-appearance: none;}

input[type=search] {-webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}

input {border: 0; background-color: transparent; font-family: "Montserrat", "Noto Sans KR", sans-serif;}

textarea {overflow: auto; vertical-align: top; resize: vertical;  font-family: "Montserrat", "Noto Sans KR", sans-serif;}
textarea::placeholder {color: var(--light-black); font-family: "Montserrat", "Noto Sans KR", sans-serif;}


audio,
canvas,
video {display: inline-block; *display: inline; *zoom: 1; max-width: 100%;}

audio:not([controls]) {display: none; height: 0;}

[hidden] {display: none;}

html {font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

a {text-decoration: unset; color: inherit;}
a:focus {outline: unset;}

a:active,
a:hover,
a:link,
a:visited {outline: unset; color: inherit;}

img {border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

figure {margin: 0;}

form {margin: 0;}

fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}

legend {border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

button,
input,
select,
textarea {font-size: inherit; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ border: 0px; background-color: initial;}

button,
input {line-height: normal;}

input::placeholder {color: #999; font-size: 0.875em;}

button,
select {text-transform: none;}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {-webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible;  /* 4 */ }

button[disabled],
html input[disabled] {cursor: default;}

input[type="checkbox"],
input[type="radio"] {display: none;}

.box_check{display: block; width: 1em; height: 1em; border-radius: 50%; border: 1px solid var(--border-gray); cursor: pointer; position: relative;}
.box_check::after {    content: ''; position: absolute; top: 0; left: 0; width: 1em; height: 1em; background: url(../../static/img/check_box.svg) no-repeat 50% 50%; background-size: cover; opacity: 0; transition: opacity 0.2s ease;}

.box_radio {display: flex; width: 1em; height: 1em; border: 1px solid var(--border-gray); border-radius: 50%; position: relative; cursor: pointer; align-items: center;}

.box_radio::after { content: ''; position: absolute; top: 50%; left: 50%; width: 0.6em; height: 0.6em; background-color: var(--main-color); border-radius: 50%; transform: translate(-50%, -50%) scale(0); transition: transform 0.2s ease;}
input[type="checkbox"]:checked + .box_check::after {opacity: 1;}
input[type="radio"]:checked + .box_radio::after {transform: translate(-50%, -50%) scale(1);}

input[type="search"] {-webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}
button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}

textarea {overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

table {border-collapse: collapse; border-spacing: 0;}

html,
button,
input,
select,
textarea {color: var(--basic-black);}


::-moz-selection {background: #b3d4fc; text-shadow: none;}

::selection {background: #b3d4fc; text-shadow: none;}

img {vertical-align: middle;}

fieldset {border: 0; margin: 0; padding: 0;}

textarea {resize: vertical;}

.chromeframe {margin: 0.2em 0; background: #ccc; color: var(--basic-black); padding: 0.2em 0;}




::-webkit-scrollbar {width: 2px; height: 2px; background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: #f7f7f7;}


@media screen and (max-width: 768px) {
    body {font-size: 14px;}
}