<div class="nav_close"><img src="../../../static/img/btn_prev.svg"></div>
<ul class="cnt">
    <li class="p_main"><a href="index.html"><span class="aside_icon"></span>홈</a></li>
    <li class="p_bodeumi"><a href="../../../static/sub/order/order_center.html"><span class="aside_icon"></span>보드미 관리</a></li>
    <li class="p_order"><a href="../../../static/sub/order/order_all.html"><span class="aside_icon"></span>주문 관리</a></li>
    <li class="p_member"><a href="../../../static/sub/member/member_all.html"><span class="aside_icon"></span>회원 관리</a>
    </li>
    <li class="p_product"><a href="../../../static/sub/product/product.html"><span class="aside_icon"></span>상품 관리</a></li>
    <li class="p_category"><a href="../../../static/sub/category/category.html"><span class="aside_icon"></span>카테고리 관리</a></li>
    <li class="p_main_product"><a href="../../../static/sub/product/product_main.html"><span class="aside_icon"></span>메인 상품 관리</a></li>
    <li class="p_banner"><a href="../../../static/sub/banner/banner.html"><span class="aside_icon"></span>배너 관리</a></li>
    <li class="p_coupon"><a href="../../../static/sub/coupon/coupon.html"><span class="aside_icon"></span>쿠폰 관리</a></li>
    <li class="p_review"><a href="../../../static/sub/review/review.html"><span class="aside_icon"></span>리뷰 관리</a></li>
    <li class="p_savings"><a href="../../../static/sub/savings/savings.html"><span class="aside_icon"></span>적립금 관리</a></li>
    <li class="p_evnet"><a href="../../../static/sub/event/event.html"><span class="aside_icon"></span>이벤트 관리</a></li>
    <li class="p_statistics"><a href="../../../static/sub/statistics/statistics.html"><span class="aside_icon"></span>통계</a></li>
    <li class="has_sub p_setting">
        <a href="#none"><span class="aside_icon"></span>설정</a>
        <ul class="sub_nav_wrap">
            <li class="sub_01"><a href="../../../static/sub/setting/setting.html">설정</a></li>
            <li class="sub_02"><a href="../../../static/sub/setting/setting_01.html">기본 설정</a></li>
            <li class="sub_03"><a href="../../../static/sub/setting/setting_01.html">회원관련 설정</a></li>
            <li class="sub_04"><a href="../../../static/sub/member/member_grade.html">회원 등급 관리</a></li>
            <li class="sub_05"><a href="../../../static/sub/setting/setting_03.html">적립금 설정</a></li>
            <li class="sub_05"><a href="../../../static/sub/setting/setting_04.html">예치금 설정</a></li>
            <li class="sub_06"><a href="../../../static/sub/setting/setting_05.html">회원 가입 항목 설정</a></li>
        </ul></li>
</ul>
