<div class="cnt">
    
    <div class="">
        <h1 onclick="location.href='../../../index.html'"><img src="../../../static/img/logo_h_b.svg" alt="미스터아빠" /></h1>
        <dd>COSA슈퍼연합</dd>
        <div class="custom-select">
            <div class="select-box">
                <input type="text" class="select-search" placeholder="센터 변경" />
                <img src="../../../static/img/icon_down.svg" />
            </div>
            <ul class="options-list">
                <li class="option" data-value="1">(주)미스터아빠</li>
                <li class="option" data-value="2">Mr.아빠 데모센터</li>
                <li class="option" data-value="3">울산송정점</li>
                <li class="option" data-value="4">이천센터</li>
                <li class="option" data-value="5">MFC센터</li>
            </ul>
        </div>
    </div>
    <ul class="hd_icon">
        <li class="hd_alarm"><a href="#"><img src="../../../static/img/icon_alarm.svg" alt="알림" /><span
                    class="count_num">2</span></a></li>
        <li class="hd_shop"><a href="#"><img src="../../../static/img/icon_shop.svg" alt="상점" /></a></li>
        <li class="hd_message"><a href="#"><img src="../../../static/img/icon_message.svg" alt="메세지" /></a></li>
        <li class="hd_logout"><a href="#"><img src="../../../static/img/icon_logout.svg" alt="로그아웃" /></a></li>
    </ul>
</div>

<script>
    $('.hd_alarm').click(function () {
        $('.pop_alarm').addClass('open');
    });

    $('.pop_close').click(function () {
        $('.popup').removeClass('open');
    });
</script>