<div class="cnt">
    <div class="logo_area">
        <h1 onclick="location.href='../../index.html'"><img src="../img/logo.png" alt="오늘보듬"></h1>
        <p>소외되지 않는 지역 서비스 <b>오늘보듬!</b></p>
    </div>
    <div class="hd_right">
        <p>옥천1호</p>

        <ul class="hd_icon">
            <li class="hd_alarm"><a href="#"><img src="static/img/icon_alarm.svg" alt="알림" /><span class="count_num">2</span></a></li>
            <li class="hd_shop"><a href="#"><img src="static/img/icon_shop.svg" alt="상점" /></a></li>
            <li class="hd_message"><a href="#"><img src="static/img/icon_message.svg" alt="메세지" /></a></li>
            <li class="hd_logout"><a href="#"><img src="static/img/icon_logout.svg" alt="로그아웃" /></a></li>
        </ul>
    </div>
</div>