<!-- 게시판 연결 : 공지 -->
<div class="popup popup_05 pop_bnotice">
    <div class="popup_box">
        <button class="btn_close btn"><img src="../../static/img/close.svg" /></button>
        <div class="tit">
            <div class="tit_l">
                <div class="cate">공지</div>
                <dt>회원 적립금 지급 / 차감</dt>
            </div>
            <div class="tit_r">
                <p class="date" lang="en">2025. 11. 03. 15:21</p>
            </div>
        </div>
        <div class="content">
            <div class="con_01">
                <p>2025년 11월 11일 03시부터 05시까지 시스템 점검으로 인하여 서비스 이용이 제한될 수 있습니다. 양해부탁드리며 점검 완료 후 공지해드리겠습니다. 오늘보듬 서비스를 이용해
                    주셔서 감사드리며 더 나은 서비스를 위해 항상 노력하는 오늘보듬가 되겠습니다.</p>
            </div>
        </div>
    </div>
</div>

<!-- 게시판 연결 : 알림 -->
<div class="popup popup_05 pop_binform">
    <div class="popup_box">
        <button class="btn_close btn"><img src="../../static/img/close.svg" /></button>
        <div class="tit">
            <div class="tit_l">
                <div class="icon"><img src="../../static/img/icon_alarm.svg" /></div>
                <dt>알림</dt>
            </div>
        </div>
        <div class="content">
            <ul class="con_01">
                <li>
                    <dt class="txt_tit" lang="en">
                        <div class="icon"><img src="../../static/img/icon_date.svg" /></div>2025. 11. 03. 15:21
                    </dt>
                    <p>2025년 11월 11일 03시부터 05시까지 시스템 점검으로 인하여 서비스 이용이 제한될 수 있습니다. 양해부탁드리며 점검 완료 후 공지해드리겠습니다. 오늘보듬 서비스를
                        이용해 주셔서 감사드리며 더 나은 서비스를 위해 항상 노력하는 오늘보듬가 되겠습니다.</p>
                </li>
                <li>

                    <dt class="txt_tit" lang="en">
                        <div class="icon"><img src="../../static/img/icon_date.svg" /></div>2025. 11. 06. 10:21
                    </dt>
                    <p>캐쉬 정기결제 시스템이 업그레이드 되었습니다. 정기결제 이용시 캐쉬 할인 이벤트를 진행중이니 카드등록 후 이용하시면 됩니다.</p>
                </li>
            </ul>
        </div>
        <ul class="p_pnb">
            <li class="prev"><img src="../../static/img/prev.svg" /></li>
            <li class="active">1</li>
            <li class="">2</li>
            <li class="">3</li>
            <li class="">4</li>
            <li class="next"><img src="../../static/img/next.svg" /></li>
        </ul>
    </div>
</div>